.container-last-offers{
    margin: 80px 0px 100px 0px;
}

.tittle-last-offers {
    display: flex;
    justify-content: center;
    margin: 50px 0px 50px 0px;
    color: #fff;
}

.tittle-last-offers h3 {
    font-size: 35px;
}

.container-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.tittle-last-offers {
    display: flex;
    justify-content: center;
    margin: 50px 0px 50px 0px;
    font-size: 30px;
}

.tittle-last-offers h3 {
    font-weight: 400;
}

.tittle-last-offers h3 span {
    color: #348E91;
}