header {
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 5px rgb(0, 0, 0);
    margin-bottom: 1rem;
}

header .logo img {
    width: 95px;
    margin-left: 50px;
}

div .barra {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 0 1rem;
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
}

a:hover {
    color: rgb(95, 84, 84);
}

.carrito {
    font-size: xx-large;
    margin-left: 15px;
    margin-right: 30px;
    position: relative;
    cursor: pointer;
}

.cart-badge {
  background-color:crimson;
  opacity: 0.8;
  color: white;
  position: absolute;
  font-size: 0.7rem;
  right: -0.5rem;
  /* top: -0.2rem; */
  border-radius: 50%;
  width: 1.1rem;
  height: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
